* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 16px;
}

.tweet {
  background-color: #fff;
  border: 1px solid #cfd9de;
  border-radius: 16px;
  padding: 12px;
  max-width: 600px;
  display: flex;
  gap: 12px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
}

.tweet-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.tweet-header {
  display: flex;
  gap: 4px;
}

.name {
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.metadata {
  color: #71767b;
  font-family: sans-serif;
  font-size: 15px;
}

.message {
  color: #0f1419;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.actions-row {
  display: flex;
  justify-content: space-between;
  max-width: 425px;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 16px;
  height: 16px;
  color: #536471;
  fill: #536471;
}

.action-count {
  color: #536471;
  font-size: 13px;
}